<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pods-AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Bolts.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-CTCheckbox.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Facebook-iOS-SDK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-ISO8601DateFormatterValueTransformer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-RKValueTransformers.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-RestKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SOCKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SSKeychain.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SVProgressHUD.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-TransitionKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2FEED1A906DA463AA2C85272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DDA30563427470B92841A0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42FF4D990FEC47E38F26CEC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64F9CADED1DE44C6AFCFA120</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>761E8B45112C46448075F3F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E43AF4A39D4B3299153515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E0957FE42654A6099AB5261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A97DB0815E0446B3990B8524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E835A852E8E643278F65B9EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F557DAB2F9D4429BA49BE1D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F867D0ABA7D441A093E4E7A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9576EA578044D989DA46AEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
